<style>
    .cb-slideshow,
    .cb-slideshow:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 0;
        margin-bottom: 0px;
        padding-left: 0px;
    }

    .cb-slideshow li {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        list-style: none;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
    }

    .cb-slideshow li:nth-child(1) {
        background-image: url(../images/2.jpg)
    }

    .cb-slideshow li:nth-child(2) {
        background-image: url(../images/3.jpg)
    }

    .cb-slideshow li:nth-child(3) {
        background-image: url(../images/4.jpg)
    }

    .mySlides {
        transition: opacity 1.3s ease-in;
        opacity: 0;
    }

    .mySlidesAnimIn {
        opacity: 1;
    }

    .mySlidesAnimout {
        transition: opacity 1.3s ease-out;
        opacity: 0;
    }

    .mini-info {
        position: relative;
        top: 350px;
        left: 20px;
        padding: 0px;
        width: 400px;
        background-color: rgba(254, 254, 254, 0.76);
    }

    .mini-info > h3 {
        padding: 10px;
        font-weight: bold;
        margin-top: -4px;
        background-color: #ee582c;
        color: #fefefe;
    }

    .mini-info > p {
        padding: 10px;
    }
</style>
<ul class="cb-slideshow">
    <li class="mySlides" ng-repeat="SlideItem in recordAccueil">
        <div class="mini-info"><h3>{{SlideItem.title}}</h3>

            <p>{{SlideItem.preview}}</p></div>
    </li>
</ul>

<script>
    var myIndex = 0;
    var ArraySlide = new Array();
    function JCarousel() {
        var i = 0;
        if (ArraySlide.length > 0) {
            ArraySlide[myIndex - 1].children(".mini-info").removeClass("slideRight");
            ArraySlide[myIndex - 1].addClass("mySlidesAnimout");
            ArraySlide[myIndex-1].removeClass("mySlidesAnimIn");

        } else {
            $(".mySlides").each(function () {
                ArraySlide[i] = $(this);
                //$( this ).css("display","none");
                i++;
            });
        }
        myIndex++;
        if (myIndex > ArraySlide.length) {
            myIndex = 1;
        }
        ArraySlide[myIndex - 1].addClass("mySlidesAnimIn");
        ArraySlide[myIndex-1].removeClass("mySlidesAnimout");
        ArraySlide[myIndex - 1].children(".mini-info").addClass("slideRight");
        setTimeout(JCarousel, 8000); // Change image every 2 seconds
    }

    jQuery(JCarousel);
</script>
