
<ul class="cb-slideshow">
    <li class="mySlides" ng-repeat="SlideItem in recordAccueil">
        <div class="mini-info"><h4>{{SlideItem.title}}</h4>

            <p>{{SlideItem.preview}}</p></div>
    </li>
</ul>

<script>
    var myIndex = 0;
    var ArraySlide = new Array();
    function JCarousel() {
        var i = 0;
        if (ArraySlide.length > 0) {
            ArraySlide[myIndex - 1].children(".mini-info").removeClass("slideRight");
            ArraySlide[myIndex - 1].addClass("mySlidesAnimout");
            ArraySlide[myIndex-1].removeClass("mySlidesAnimIn");

        } else {
            $(".mySlides").each(function () {
                ArraySlide[i] = $(this);
                //$( this ).css("display","none");
                i++;
            });
        }
        myIndex++;
        if (myIndex > ArraySlide.length) {
            myIndex = 1;
        }
        ArraySlide[myIndex - 1].addClass("mySlidesAnimIn");
        ArraySlide[myIndex-1].removeClass("mySlidesAnimout");
        ArraySlide[myIndex - 1].children(".mini-info").addClass("slideRight");
        setTimeout(JCarousel, 8000); // Change image every 2 seconds
    }

    jQuery(JCarousel);
</script>
